.ani{
    opacity: 0;
    animation-name: fly;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;  
}
@keyframes fly {
    100% { 
        top: 0px; 
        left: 0px;
        opacity: 1;
    }
}
